body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
}

header {
  text-align: center;
  padding: 40px 10px;
  background: #020617;
}

section {
  padding: 30px 15px;
  max-width: 900px;
  margin: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 15px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 15px;
  background: #020617;
}